/*ABOUT_BODY_AREA*/

.aboutbody {

    height: auto;
    width: 1024px;
    display: inline-block;
}

.aboutbodyborder {
    height: auto;
    width: 100%;

}
/*---------------ABOUT_CONTENT_AREA---------------------------*/
.aboutbody .h1_3 {
    width: 100%;
    height: 90px;
    text-align: center;
    float: left;
    padding-top: 100px;
    padding-bottom: 150px;

}

.aboutbody .hr3 {
    display: block;
    width: 400px;
    position: relative;
    top: -15px;
    display: inline-block;
    border: 0.4px solid black;
}

.img_border_content_about1 {
    float: left;
    width: 45%;
    height: 700px;

}
.img_about1 {
    background: url('../imgab/im1.jpg') repeat-x;
    background-size:cover;
    width:260px;
    height:292px;
    display:inline-block;
    position:relative;
    top:150px;
    left:-100px;
}
.img_border_content_about1 img{
    width:290px;
    height:376px;
    position:relative;
    left:50px;
    top:-120px;
}
.contenttext_border_about1 {
    float: left;
    width: 55%;
    height: 700px;
}
.content_about1 {
    height: 500px;
    width:100%;
    text-align:left;
    position:relative;
  
}
.content_about1 p{
    line-height:25px;
    padding-top: 10px;
    font-size:20px;
}
    .content_about1 h1 {
        line-height: 25px;
        margin-top:0;
        font-size: 20px;
        font-size:35px;
        padding-top:30px;
    }