/*CONTACT_BODY_AREA*/

.contactbody {
    height: auto;
    width: 1024px;
    display: inline-block;
}

.contactbodyborder {
    height: auto;
    width: 100%;
}


input {
    padding: 10px;
    margin-left: 0px;
    margin-bottom: 20px;
}

#namect {
    width: 200px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid;
}

#emailct {
    width: 200px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid;
    margin-left: 25px;
}

#phonect {
    width: 450px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid;
}

#submitct {
    padding: 10px 40px 10px 40px;
    background-color: grey;
    color: white;
    border: none;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    
}

    #submitct:hover {
        color: black;
        transition: .5s ease;
    }

::-webkit-input-placeholder {
    font-style: italic;
    font-size: 15px;
    text-transform: uppercase;
}


.content_contact1 {
    height: 500px;
    width: 100%;
    text-align: left;
}
.border_content_contact1 {
    float: left;
    width: 50%;
    height: 500px;
    text-align:left;
}
.contenttext_border_contact1 {
    float: left;
    width: 50%;
    height: 500px;
}
.border_content_contact1 p {
    margin-left:200px;
    line-height:25px;
}
#msg{
   margin:0;
   display:block;
   height:0px;
   width:0px;
}
.formct{
    width:501px;
    height:500px;
}
.h1_3 {
    width: 100%;
    height: 50px;
    text-align: center;
    float: left;
    padding-top: 50px;
    padding-bottom: 100px;
}
.address_area{
    float:left;
    width:100%;
    height:auto;
    margin-left:70px;
}
    .containerct,
    .container1ct,
    .container2ct,
    .container3ct,
    .container4ct,
    .container5ct,
    .container6ct,
    .container7ct {
        position: relative;
        float: left;
        width: 25%;
        margin-bottom: 30px;
    }

   .imagect,
    .image1ct,
    .image2ct,
    .image3ct,
    .image4ct,
    .image5ct,
    .image6ct,
    .image7ct {
        display: block;
        width: 176px;
        height: 176px;
    }


   .overlay1ct,
    .overlay2ct,
    .overlay3ct,
    .overlay4ct,
    .overlay5ct,
    .overlay6ct,
    .overlay7ct {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 176px;
        width: 176px;
        opacity: 0;
        transition: .5s ease;
        background-color: black;
    }
    .overlayct {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 176px;
        width: 176px;
        opacity: 0;
        transition: .5s ease;
        background-color: black;
        border: 0px solid !important;
    }
    .containerct:hover .overlayct {
        opacity: 0.9;
    }
    .textboxct,
    .textbox1ct,
    .textbox2ct,
    .textbox3ct,
    .textbox4ct,
    .textbox5ct,
    .textbox6ct,
    .textbox7ct {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

.container1ct:hover .overlay1ct {
    opacity: 0.9;
}

.container2ct:hover .overlay2ct {
    opacity: 0.9;
}

.container3ct:hover .overlay3ct {
    opacity: 0.9;
}

.container4ct:hover .overlay4ct{
    opacity: 0.9;
}

.container5ct:hover .overlay5ct {
    opacity: 0.9;
}

.container6ct:hover .overlay6ct {
    opacity: 0.9;
}

.container7ct:hover .overlay7ct {
    opacity: 0.9;
}

.btn-contact  {
    border: 1px solid black;
    text-decoration: none;
    color: black;
    display: inline-block;
    width: 120px;
    text-align: center;
}