/*HOME_BODY_AREA*/
.homebody {
    height: auto;
    max-width: 1024px;
    display: inline-block;
}

.homebodyborder {
    height: auto;
    width: 100%;
    padding-top:80px;
}


/*content1  AREA*/
.content1border {
    min-height: 400px;
    max-width: 100%;
}

.imgcontent1 {
    float: left;
    width: 45%;
    height: 350px;
}

    .imgcontent1 img {
        height: 350px;
        width: 700px;
    }

.content1 {
    float: left;
    width: 39%;
    height: 400px;
    position: relative;
    left: 130px;
}

    .content1 p {
        border: 1px solid black;
        width: 400px;
        height: 196px;
        text-align: right;
        letter-spacing: 3px;
        margin-top: 90px;
        font-size: 30px;
        
    }

        .content1 p span {
            font-size: 30px;
            font-weight: bold;
            letter-spacing: 10px;
            height: 50px;
            display: block;
            padding-top: 40px;
        }

    .content1 .btn-content1 {
        border: 1px solid black;
        text-decoration: none;
        padding: 8px;
        color: black;
        display: block;
        width: 120px;
        text-align: center;
        float: right;
    }
/*content2  AREA*/
.conten2border {
    float: left;
    width: 100%;
    height: auto;
}

    .conten2border .h1_1 {
        width: 100%;
        height: 90px;
        text-align: center;
        float: left;
        padding-top: 50px;
        padding-bottom: 100px;
    }

.hr {
    display: block;
    width: 300px;
    position: relative;
    top: -15px;
    display: inline-block;
    border: 0.4px solid black;
}

.hr1 {
    display: block;
    width: 350px;
    position: relative;
    top: -15px;
    display: inline-block;
    border: 0.4px solid black;
}
/*content2  textbox1 AREA*/
.conten2border .textbox1 {
    float: left;
    width: 50%;
    text-align: left;
    height: 451px;
}

    .conten2border .textbox1 a {
        border: 1px solid black;
        text-decoration: none;
        padding: 10px;
        color: black;
        display: block;
        width: 120px;
        text-align: center;
    }

    .conten2border .textbox1 h1 {
        margin-top: 0;
    }

    .conten2border .textbox1 p {
        font-size: 20px;
        letter-spacing: 1px;
        margin-bottom: 55px;
        margin-top: 50px;
        line-height: 35px;
    }

.conten2border .imgtextbox1 {
    float: left;
    width: 50%;
    height: 451px;
}

    .conten2border .imgtextbox1 img {
        width: 100%;
        height: 100%;
    }

.conten2border .textbox2 {
    float: left;
    width: 50%;
    text-align: right;
    height: 451px;
}

.conten2border .imgtextbox2 {
    float: left;
    width: 50%;
    height: 451px;
}

    .conten2border .imgtextbox2 img {
        width: 100%;
        height: 100%;
    }

.conten2border .textbox2 p {
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 55px;
    margin-top: 50px;
    line-height: 35px;
}

.conten2border .textbox2 a {
    border: 1px solid black;
    text-decoration: none;
    padding: 10px;
    color: black;
    display: block;
    width: 120px;
    text-align: center;
    float: right;
}

.conten2border .h1_2 {
    width: 100%;
    height: 90px;
    text-align: center;
    float: left;
    padding-top: 100px;
    padding-bottom: 50px;
}


/*content2  textbox3 AREA*/
.conten2border .imgtextbox3 {
    float: left;
    width: 50%;
    height: 451px;
}

    .conten2border .imgtextbox3 img {
        width: 291px;
        height: 291px;
        position: relative;
        top: 80px;
        left: 50px;
    }

.conten2border .textbox3 {
    float: left;
    width: 50%;
    text-align: left;
    height: 451px;
}

    .conten2border .textbox3 p {
        margin-top: 100px;
        line-height: 35px;
        font-size:18px;
    }

    .conten2border .textbox3 h3 {
        margin-top: 20px;
        margin-left: 50px;
    }

    .conten2border .textbox3 a {
        border: 1px solid black;
        text-decoration: none;
        padding: 10px;
        color: black;
        margin-top: 50px;
        display: block;
        width: 120px;
        text-align: center;
    }
